
[Bb]in/
[Oo]bj/
out/
artifacts/
publish/

*.user
*.userosscache
*.suo
*.sln.docstates

.vs/
[Dd]ebug/
[Rr]elease/
*.spec


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace


.idea/
*.sln.iml

.DS_Store
Thumbs.db
*.db
*.sqlite

node_modules/
bower_components/
